<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask Template Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">

</head>

<body>
    <div class="container">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li><a href="/transactions">Transactions</a></li>
            <li><a href="/summary">Summary</a></li>
            <li><a href="/plot">Plot</a></li>
        </ul>
        <hr />
        {% block content %}{% endblock %}
    </div>
</body>

</html>