<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask Template Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">

</head>

<body>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/summary">Summary</a></li>
    </ul>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>