{% extends "partials/base.html" %}
{% block content %}
<h1>Personal Transaction Management System</h1>

<h4>Uploads</h4>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Account Name</th>
            <th>File Path</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for file in uploads %}
        <tr>
            <td>{{ file["id"] }}</td>
            <td>{{ file["account_name"] }}</td>
            <td>{{ file["file_path"] }}</td>
            <td>{{ file["created_at"] }}</td>
            <td>
                <div>
                    <a href="/delete_upload/{{ file['id'] }}">Delete</a>
                    <br />
                    <a href="/process_transactions/{{ file['id'] }}">Process Transactions</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "partials/new-file-upload-form.html" %}

</div>
{% endblock %}