{% extends "partials/base.html" %}
{% block content %}
<h1>Personal Transaction Management System</h1>

<h4>Uploads</h4>
<table>
    <thead>
        <tr>
            <th>Account</th>
            <th>File</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for file in uploads %}
        <tr>
            <td>
                <a href="/uploads/{{ file['_id'] }}">
                    {{ file["account_name" ]}}
                </a>
            </td>
            <td>{{ file["file_path"].split('/')[-1] }}</td>
            <td>{{ file["status"] }}</td>
            <td>
                <div>
                    <a href="/delete_upload/{{ file['_id'] }}">Delete</a>
                    <br />

                    {% if file["status"] == "ready" %}
                    <a href="/process_transactions/{{ file['_id'] }}">Process</a>
                    <br />
                    {% endif %}

                    {% if file["status"] == "finished" %}
                    <a href="/accept_transactions/{{ file['_id'] }}">Accept</a>
                    <br />
                    <a href="/discard_transactions/{{ file['_id'] }}">Discard</a>
                    <br />
                    <a href="/process_transactions/{{ file['_id'] }}">Reprocess</a>
                    <br />
                    {% endif %}

                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "partials/new-file-upload-form.html" %}

</div>
{% endblock %}