{% extends "partials/base.html" %}
{% block content %}

<style>
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h4>Summary</h4>

<p>Balance: {{ stats["total_balance"] }}</p>

{{ stats["pivot_table_html"] | safe }}

<!-- <br />
<p>Plots</p> -->

<!-- <img src="{{ url_for('static', filename='total_expenses.png') }}" alt="plot" />
<br />
<img src="{{ url_for('static', filename='total_income.png') }}" alt="plot" />
<br />
<img src="{{ url_for('static', filename='balance_summary.png') }}" alt="plot" />
<br /> -->

{% endblock %}