<!-- {% extends "partials/base.html" %}
{% block content %} -->

<script src="{{ url_for('static', filename='sorttable.js') }}"></script>

<style>
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table.sortable thead {
        background-color: #eee;
        color: #666666;
        font-weight: bold;
        cursor: default;
    }
</style>

<h4>Summary</h4>

<p>Balance: {{ stats["total_balance"] }}</p>

<div style="overflow: scroll; padding: 10px; border: 2px solid black; ">
    {{ table_html | safe }}
</div>

<!-- {% endblock %} -->