{% extends "partials/base.html" %}
{% block content %}
<h1>All Transactions</h1>

<table>
    <thead>
        <tr>
            <th>Account</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t["account_name"] }}</td>
            <td>{{ t["date"] }}</td>
            <td>{{ t["description"] }}</td>
            <td>{{ t["amount"] }}</td>
            <td>{{ t["type"] }}</td>
            <td>{{ t["category"] }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}